<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>uni1780</key>
    <string>uni1780.glif</string>
    <key>uni1781</key>
    <string>uni1781.glif</string>
    <key>uni1782</key>
    <string>uni1782.glif</string>
    <key>uni1783</key>
    <string>uni1783.glif</string>
    <key>uni1784</key>
    <string>uni1784.glif</string>
    <key>uni1785</key>
    <string>uni1785.glif</string>
    <key>uni1786</key>
    <string>uni1786.glif</string>
    <key>uni1787</key>
    <string>uni1787.glif</string>
    <key>uni1788</key>
    <string>uni1788.glif</string>
    <key>uni1789</key>
    <string>uni1789.glif</string>
    <key>uni178A</key>
    <string>uni178A_.glif</string>
    <key>uni178B</key>
    <string>uni178B_.glif</string>
    <key>uni178C</key>
    <string>uni178C_.glif</string>
    <key>uni178D</key>
    <string>uni178D_.glif</string>
    <key>uni178E</key>
    <string>uni178E_.glif</string>
    <key>uni178F</key>
    <string>uni178F_.glif</string>
    <key>uni1790</key>
    <string>uni1790.glif</string>
    <key>uni1791</key>
    <string>uni1791.glif</string>
    <key>uni1792</key>
    <string>uni1792.glif</string>
    <key>uni1793</key>
    <string>uni1793.glif</string>
    <key>uni1794</key>
    <string>uni1794.glif</string>
    <key>uni1795</key>
    <string>uni1795.glif</string>
    <key>uni1796</key>
    <string>uni1796.glif</string>
    <key>uni1797</key>
    <string>uni1797.glif</string>
    <key>uni1798</key>
    <string>uni1798.glif</string>
    <key>uni1799</key>
    <string>uni1799.glif</string>
    <key>uni179A</key>
    <string>uni179A_.glif</string>
    <key>uni179B</key>
    <string>uni179B_.glif</string>
    <key>uni179C</key>
    <string>uni179C_.glif</string>
    <key>uni179D</key>
    <string>uni179D_.glif</string>
    <key>uni179E</key>
    <string>uni179E_.glif</string>
    <key>uni179F</key>
    <string>uni179F_.glif</string>
    <key>uni17A0</key>
    <string>uni17A_0.glif</string>
    <key>uni17A1</key>
    <string>uni17A_1.glif</string>
    <key>uni17A2</key>
    <string>uni17A_2.glif</string>
    <key>uni17A3</key>
    <string>uni17A_3.glif</string>
    <key>uni17A4</key>
    <string>uni17A_4.glif</string>
    <key>uni17A5</key>
    <string>uni17A_5.glif</string>
    <key>uni17A6</key>
    <string>uni17A_6.glif</string>
    <key>uni17A7</key>
    <string>uni17A_7.glif</string>
    <key>uni17A8</key>
    <string>uni17A_8.glif</string>
    <key>uni17A9</key>
    <string>uni17A_9.glif</string>
    <key>uni17AA</key>
    <string>uni17A_A_.glif</string>
    <key>uni17AB</key>
    <string>uni17A_B_.glif</string>
    <key>uni17AC</key>
    <string>uni17A_C_.glif</string>
    <key>uni17AD</key>
    <string>uni17A_D_.glif</string>
    <key>uni17AE</key>
    <string>uni17A_E_.glif</string>
    <key>uni17AF</key>
    <string>uni17A_F_.glif</string>
    <key>uni17B0</key>
    <string>uni17B_0.glif</string>
    <key>uni17B1</key>
    <string>uni17B_1.glif</string>
    <key>uni17B2</key>
    <string>uni17B_2.glif</string>
    <key>uni17B3</key>
    <string>uni17B_3.glif</string>
    <key>uni17B6</key>
    <string>uni17B_6.glif</string>
    <key>uni17B7</key>
    <string>uni17B_7.glif</string>
    <key>uni17B8</key>
    <string>uni17B_8.glif</string>
    <key>uni17B9</key>
    <string>uni17B_9.glif</string>
    <key>uni17BA</key>
    <string>uni17B_A_.glif</string>
    <key>uni17BB</key>
    <string>uni17B_B_.glif</string>
    <key>uni17BC</key>
    <string>uni17B_C_.glif</string>
    <key>uni17BD</key>
    <string>uni17B_D_.glif</string>
    <key>uni17BE</key>
    <string>uni17B_E_.glif</string>
    <key>uni17BF</key>
    <string>uni17B_F_.glif</string>
    <key>uni17C0</key>
    <string>uni17C_0.glif</string>
    <key>uni17C1</key>
    <string>uni17C_1.glif</string>
    <key>uni17C2</key>
    <string>uni17C_2.glif</string>
    <key>uni17C3</key>
    <string>uni17C_3.glif</string>
    <key>uni17C4</key>
    <string>uni17C_4.glif</string>
    <key>uni17C5</key>
    <string>uni17C_5.glif</string>
    <key>uni17C6</key>
    <string>uni17C_6.glif</string>
    <key>uni17C7</key>
    <string>uni17C_7.glif</string>
    <key>uni17C8</key>
    <string>uni17C_8.glif</string>
    <key>uni17C9</key>
    <string>uni17C_9.glif</string>
    <key>uni17CA</key>
    <string>uni17C_A_.glif</string>
    <key>uni17CB</key>
    <string>uni17C_B_.glif</string>
    <key>uni17CC</key>
    <string>uni17C_C_.glif</string>
    <key>uni17CD</key>
    <string>uni17C_D_.glif</string>
    <key>uni17CE</key>
    <string>uni17C_E_.glif</string>
    <key>uni17CF</key>
    <string>uni17C_F_.glif</string>
    <key>uni17D0</key>
    <string>uni17D_0.glif</string>
    <key>uni17D1</key>
    <string>uni17D_1.glif</string>
    <key>uni17D2</key>
    <string>uni17D_2.glif</string>
    <key>uni17D3</key>
    <string>uni17D_3.glif</string>
    <key>uni17D4</key>
    <string>uni17D_4.glif</string>
    <key>uni17D5</key>
    <string>uni17D_5.glif</string>
    <key>uni17D6</key>
    <string>uni17D_6.glif</string>
    <key>uni17D7</key>
    <string>uni17D_7.glif</string>
    <key>uni17D8</key>
    <string>uni17D_8.glif</string>
    <key>uni17D9</key>
    <string>uni17D_9.glif</string>
    <key>uni17DA</key>
    <string>uni17D_A_.glif</string>
    <key>uni17DB</key>
    <string>uni17D_B_.glif</string>
    <key>uni17E0</key>
    <string>uni17E_0.glif</string>
    <key>uni17E1</key>
    <string>uni17E_1.glif</string>
    <key>uni17E2</key>
    <string>uni17E_2.glif</string>
    <key>uni17E3</key>
    <string>uni17E_3.glif</string>
    <key>uni17E4</key>
    <string>uni17E_4.glif</string>
    <key>uni17E5</key>
    <string>uni17E_5.glif</string>
    <key>uni17E6</key>
    <string>uni17E_6.glif</string>
    <key>uni17E7</key>
    <string>uni17E_7.glif</string>
    <key>uni17E8</key>
    <string>uni17E_8.glif</string>
    <key>uni17E9</key>
    <string>uni17E_9.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni17D21780</key>
    <string>uni17D_21780.glif</string>
    <key>uni17D21781</key>
    <string>uni17D_21781.glif</string>
    <key>uni17D21782</key>
    <string>uni17D_21782.glif</string>
    <key>uni17D21783</key>
    <string>uni17D_21783.glif</string>
    <key>uni17D21784</key>
    <string>uni17D_21784.glif</string>
    <key>uni17D21785</key>
    <string>uni17D_21785.glif</string>
    <key>uni17D21786</key>
    <string>uni17D_21786.glif</string>
    <key>uni17D21787</key>
    <string>uni17D_21787.glif</string>
    <key>uni17D21788</key>
    <string>uni17D_21788.glif</string>
    <key>uni17D21789</key>
    <string>uni17D_21789.glif</string>
    <key>uni17D21789.alt</key>
    <string>uni17D_21789.alt.glif</string>
    <key>uni17D2178A</key>
    <string>uni17D_2178A_.glif</string>
    <key>uni17D2178B</key>
    <string>uni17D_2178B_.glif</string>
    <key>uni17D2178C</key>
    <string>uni17D_2178C_.glif</string>
    <key>uni17D2178D</key>
    <string>uni17D_2178D_.glif</string>
    <key>uni17D2178E</key>
    <string>uni17D_2178E_.glif</string>
    <key>uni17D2178F</key>
    <string>uni17D_2178F_.glif</string>
    <key>uni17D21790</key>
    <string>uni17D_21790.glif</string>
    <key>uni17D21791</key>
    <string>uni17D_21791.glif</string>
    <key>uni17D21792</key>
    <string>uni17D_21792.glif</string>
    <key>uni17D21793</key>
    <string>uni17D_21793.glif</string>
    <key>uni17D21794</key>
    <string>uni17D_21794.glif</string>
    <key>uni17D21795</key>
    <string>uni17D_21795.glif</string>
    <key>uni17D21796</key>
    <string>uni17D_21796.glif</string>
    <key>uni17D21797</key>
    <string>uni17D_21797.glif</string>
    <key>uni17D21798</key>
    <string>uni17D_21798.glif</string>
    <key>uni17D21799</key>
    <string>uni17D_21799.glif</string>
    <key>uni17D2179A</key>
    <string>uni17D_2179A_.glif</string>
    <key>uni17D2179B</key>
    <string>uni17D_2179B_.glif</string>
    <key>uni17D2179C</key>
    <string>uni17D_2179C_.glif</string>
    <key>uni17D2179F</key>
    <string>uni17D_2179F_.glif</string>
    <key>uni17D217A0</key>
    <string>uni17D_217A_0.glif</string>
    <key>uni17D217A2</key>
    <string>uni17D_217A_2.glif</string>
    <key>uni178017B6</key>
    <string>uni178017B_6.glif</string>
    <key>uni178117B6</key>
    <string>uni178117B_6.glif</string>
    <key>uni178217B6</key>
    <string>uni178217B_6.glif</string>
    <key>uni178317B6</key>
    <string>uni178317B_6.glif</string>
    <key>uni178417B6</key>
    <string>uni178417B_6.glif</string>
    <key>uni178517B6</key>
    <string>uni178517B_6.glif</string>
    <key>uni178617B6</key>
    <string>uni178617B_6.glif</string>
    <key>uni178717B6</key>
    <string>uni178717B_6.glif</string>
    <key>uni178817B6</key>
    <string>uni178817B_6.glif</string>
    <key>uni178917B6</key>
    <string>uni178917B_6.glif</string>
    <key>uni178A17B6</key>
    <string>uni178A_17B_6.glif</string>
    <key>uni178B17B6</key>
    <string>uni178B_17B_6.glif</string>
    <key>uni178C17B6</key>
    <string>uni178C_17B_6.glif</string>
    <key>uni178D17B6</key>
    <string>uni178D_17B_6.glif</string>
    <key>uni178E17B6</key>
    <string>uni178E_17B_6.glif</string>
    <key>uni178F17B6</key>
    <string>uni178F_17B_6.glif</string>
    <key>uni179017B6</key>
    <string>uni179017B_6.glif</string>
    <key>uni179117B6</key>
    <string>uni179117B_6.glif</string>
    <key>uni179217B6</key>
    <string>uni179217B_6.glif</string>
    <key>uni179317B6</key>
    <string>uni179317B_6.glif</string>
    <key>uni179417B6</key>
    <string>uni179417B_6.glif</string>
    <key>uni179517B6</key>
    <string>uni179517B_6.glif</string>
    <key>uni179617B6</key>
    <string>uni179617B_6.glif</string>
    <key>uni179717B6</key>
    <string>uni179717B_6.glif</string>
    <key>uni179817B6</key>
    <string>uni179817B_6.glif</string>
    <key>uni179917B6</key>
    <string>uni179917B_6.glif</string>
    <key>uni179A17B6</key>
    <string>uni179A_17B_6.glif</string>
    <key>uni179B17B6</key>
    <string>uni179B_17B_6.glif</string>
    <key>uni179C17B6</key>
    <string>uni179C_17B_6.glif</string>
    <key>uni179D17B6</key>
    <string>uni179D_17B_6.glif</string>
    <key>uni179E17B6</key>
    <string>uni179E_17B_6.glif</string>
    <key>uni179F17B6</key>
    <string>uni179F_17B_6.glif</string>
    <key>uni17A017B6</key>
    <string>uni17A_017B_6.glif</string>
    <key>uni17A117B6</key>
    <string>uni17A_117B_6.glif</string>
    <key>uni17A217B6</key>
    <string>uni17A_217B_6.glif</string>
    <key>uni17D2178317B6</key>
    <string>uni17D_2178317B_6.glif</string>
    <key>uni17D2178817B6</key>
    <string>uni17D_2178817B_6.glif</string>
    <key>uni17D2178D17B6</key>
    <string>uni17D_2178D_17B_6.glif</string>
    <key>uni17D2179417B6</key>
    <string>uni17D_2179417B_6.glif</string>
    <key>uni17D2179917B6</key>
    <string>uni17D_2179917B_6.glif</string>
    <key>uni17D2179F17B6</key>
    <string>uni17D_2179F_17B_6.glif</string>
    <key>uni178917B6.alt</key>
    <string>uni178917B_6.alt.glif</string>
    <key>uni178017C5</key>
    <string>uni178017C_5.glif</string>
    <key>uni178117C5</key>
    <string>uni178117C_5.glif</string>
    <key>uni178217C5</key>
    <string>uni178217C_5.glif</string>
    <key>uni178317C5</key>
    <string>uni178317C_5.glif</string>
    <key>uni178417C5</key>
    <string>uni178417C_5.glif</string>
    <key>uni178517C5</key>
    <string>uni178517C_5.glif</string>
    <key>uni178617C5</key>
    <string>uni178617C_5.glif</string>
    <key>uni178717C5</key>
    <string>uni178717C_5.glif</string>
    <key>uni178817C5</key>
    <string>uni178817C_5.glif</string>
    <key>uni178917C5</key>
    <string>uni178917C_5.glif</string>
    <key>uni178A17C5</key>
    <string>uni178A_17C_5.glif</string>
    <key>uni178B17C5</key>
    <string>uni178B_17C_5.glif</string>
    <key>uni178C17C5</key>
    <string>uni178C_17C_5.glif</string>
    <key>uni178D17C5</key>
    <string>uni178D_17C_5.glif</string>
    <key>uni178E17C5</key>
    <string>uni178E_17C_5.glif</string>
    <key>uni178F17C5</key>
    <string>uni178F_17C_5.glif</string>
    <key>uni179017C5</key>
    <string>uni179017C_5.glif</string>
    <key>uni179117C5</key>
    <string>uni179117C_5.glif</string>
    <key>uni179217C5</key>
    <string>uni179217C_5.glif</string>
    <key>uni179317C5</key>
    <string>uni179317C_5.glif</string>
    <key>uni179417C5</key>
    <string>uni179417C_5.glif</string>
    <key>uni179517C5</key>
    <string>uni179517C_5.glif</string>
    <key>uni179617C5</key>
    <string>uni179617C_5.glif</string>
    <key>uni179717C5</key>
    <string>uni179717C_5.glif</string>
    <key>uni179817C5</key>
    <string>uni179817C_5.glif</string>
    <key>uni179917C5</key>
    <string>uni179917C_5.glif</string>
    <key>uni179A17C5</key>
    <string>uni179A_17C_5.glif</string>
    <key>uni179B17C5</key>
    <string>uni179B_17C_5.glif</string>
    <key>uni179C17C5</key>
    <string>uni179C_17C_5.glif</string>
    <key>uni179D17C5</key>
    <string>uni179D_17C_5.glif</string>
    <key>uni179E17C5</key>
    <string>uni179E_17C_5.glif</string>
    <key>uni179F17C5</key>
    <string>uni179F_17C_5.glif</string>
    <key>uni17A017C5</key>
    <string>uni17A_017C_5.glif</string>
    <key>uni17A117C5</key>
    <string>uni17A_117C_5.glif</string>
    <key>uni17A217C5</key>
    <string>uni17A_217C_5.glif</string>
    <key>uni17D2178317C5</key>
    <string>uni17D_2178317C_5.glif</string>
    <key>uni17D2178817C5</key>
    <string>uni17D_2178817C_5.glif</string>
    <key>uni17D2178D17C5</key>
    <string>uni17D_2178D_17C_5.glif</string>
    <key>uni17D2179417C5</key>
    <string>uni17D_2179417C_5.glif</string>
    <key>uni17D2179917C5</key>
    <string>uni17D_2179917C_5.glif</string>
    <key>uni17D2179F17C5</key>
    <string>uni17D_2179F_17C_5.glif</string>
    <key>uni178917C5.alt</key>
    <string>uni178917C_5.alt.glif</string>
    <key>uni1789.alt</key>
    <string>uni1789.alt.glif</string>
    <key>uni17D21780.lig1</key>
    <string>uni17D_21780.lig1.glif</string>
    <key>uni17D21781.lig1</key>
    <string>uni17D_21781.lig1.glif</string>
    <key>uni17D21782.lig1</key>
    <string>uni17D_21782.lig1.glif</string>
    <key>uni17D21784.lig1</key>
    <string>uni17D_21784.lig1.glif</string>
    <key>uni17D21785.lig1</key>
    <string>uni17D_21785.lig1.glif</string>
    <key>uni17D21786.lig1</key>
    <string>uni17D_21786.lig1.glif</string>
    <key>uni17D21787.lig1</key>
    <string>uni17D_21787.lig1.glif</string>
    <key>uni17D21789.lig1</key>
    <string>uni17D_21789.lig1.glif</string>
    <key>uni17D21789.alt.lig1</key>
    <string>uni17D_21789.alt.lig1.glif</string>
    <key>uni17D2178A.lig1</key>
    <string>uni17D_2178A_.lig1.glif</string>
    <key>uni17D2178B.lig1</key>
    <string>uni17D_2178B_.lig1.glif</string>
    <key>uni17D2178C.lig1</key>
    <string>uni17D_2178C_.lig1.glif</string>
    <key>uni17D2178E.lig1</key>
    <string>uni17D_2178E_.lig1.glif</string>
    <key>uni17D2178F.lig1</key>
    <string>uni17D_2178F_.lig1.glif</string>
    <key>uni17D21790.lig1</key>
    <string>uni17D_21790.lig1.glif</string>
    <key>uni17D21791.lig1</key>
    <string>uni17D_21791.lig1.glif</string>
    <key>uni17D21792.lig1</key>
    <string>uni17D_21792.lig1.glif</string>
    <key>uni17D21793.lig1</key>
    <string>uni17D_21793.lig1.glif</string>
    <key>uni17D21795.lig1</key>
    <string>uni17D_21795.lig1.glif</string>
    <key>uni17D21796.lig1</key>
    <string>uni17D_21796.lig1.glif</string>
    <key>uni17D21797.lig1</key>
    <string>uni17D_21797.lig1.glif</string>
    <key>uni17D21798.lig1</key>
    <string>uni17D_21798.lig1.glif</string>
    <key>uni17D2179B.lig1</key>
    <string>uni17D_2179B_.lig1.glif</string>
    <key>uni17D2179C.lig1</key>
    <string>uni17D_2179C_.lig1.glif</string>
    <key>uni17D217A0.lig1</key>
    <string>uni17D_217A_0.lig1.glif</string>
    <key>uni17D217A2.lig1</key>
    <string>uni17D_217A_2.lig1.glif</string>
    <key>uni17D2178A.ro</key>
    <string>uni17D_2178A_.ro.glif</string>
    <key>uni17D21797.ro</key>
    <string>uni17D_21797.ro.glif</string>
    <key>uni17D21798.ro</key>
    <string>uni17D_21798.ro.glif</string>
    <key>uni17B7.ro</key>
    <string>uni17B_7.ro.glif</string>
    <key>uni17B8.ro</key>
    <string>uni17B_8.ro.glif</string>
    <key>uni17B9.ro</key>
    <string>uni17B_9.ro.glif</string>
    <key>uni17BA.ro</key>
    <string>uni17B_A_.ro.glif</string>
    <key>uni17C6.ro</key>
    <string>uni17C_6.ro.glif</string>
    <key>uni17C9.ro</key>
    <string>uni17C_9.ro.glif</string>
    <key>uni17CD.ro</key>
    <string>uni17C_D_.ro.glif</string>
    <key>uni17B717CD.ro</key>
    <string>uni17B_717C_D_.ro.glif</string>
    <key>uni17B717CD</key>
    <string>uni17B_717C_D_.glif</string>
    <key>uni17D2178A.lig2</key>
    <string>uni17D_2178A_.lig2.glif</string>
    <key>uni17D2178B.lig2</key>
    <string>uni17D_2178B_.lig2.glif</string>
    <key>uni17D2178C.lig2</key>
    <string>uni17D_2178C_.lig2.glif</string>
    <key>uni17D2178E.lig2</key>
    <string>uni17D_2178E_.lig2.glif</string>
    <key>uni17D217A0.lig2</key>
    <string>uni17D_217A_0.lig2.glif</string>
    <key>uni17BB.178E</key>
    <string>uni17B_B_.178E_.glif</string>
    <key>uni17BC.178E</key>
    <string>uni17B_C_.178E_.glif</string>
    <key>uni17BD.178E</key>
    <string>uni17B_D_.178E_.glif</string>
    <key>uni17BB.178E.sec</key>
    <string>uni17B_B_.178E_.sec.glif</string>
    <key>uni17BC.178E.sec</key>
    <string>uni17B_C_.178E_.sec.glif</string>
    <key>uni17BD.178E.sec</key>
    <string>uni17B_D_.178E_.sec.glif</string>
    <key>uni17BF.sec</key>
    <string>uni17B_F_.sec.glif</string>
    <key>uni17C0.sec</key>
    <string>uni17C_0.sec.glif</string>
    <key>uni17D21783.sec</key>
    <string>uni17D_21783.sec.glif</string>
    <key>uni17D21788.sec</key>
    <string>uni17D_21788.sec.glif</string>
    <key>uni17D2178D.sec</key>
    <string>uni17D_2178D_.sec.glif</string>
    <key>uni17D21794.sec</key>
    <string>uni17D_21794.sec.glif</string>
    <key>uni17D21799.sec</key>
    <string>uni17D_21799.sec.glif</string>
    <key>uni17D2179A.sec</key>
    <string>uni17D_2179A_.sec.glif</string>
    <key>uni17D2179F.sec</key>
    <string>uni17D_2179F_.sec.glif</string>
    <key>uni17B7.sec</key>
    <string>uni17B_7.sec.glif</string>
    <key>uni17B8.sec</key>
    <string>uni17B_8.sec.glif</string>
    <key>uni17B9.sec</key>
    <string>uni17B_9.sec.glif</string>
    <key>uni17BA.sec</key>
    <string>uni17B_A_.sec.glif</string>
    <key>uni17C6.sec</key>
    <string>uni17C_6.sec.glif</string>
    <key>uni17CE.sec</key>
    <string>uni17C_E_.sec.glif</string>
    <key>uni17D0.sec</key>
    <string>uni17D_0.sec.glif</string>
    <key>uni17BB.sec</key>
    <string>uni17B_B_.sec.glif</string>
    <key>uni17BC.sec</key>
    <string>uni17B_C_.sec.glif</string>
    <key>uni17BD.sec</key>
    <string>uni17B_D_.sec.glif</string>
    <key>uni17C9.lig</key>
    <string>uni17C_9.lig.glif</string>
    <key>uni17CA.lig</key>
    <string>uni17C_A_.lig.glif</string>
    <key>uni17CC.lig</key>
    <string>uni17C_C_.lig.glif</string>
    <key>uni17CE.lig</key>
    <string>uni17C_E_.lig.glif</string>
    <key>uni17D21798.sec</key>
    <string>uni17D_21798.sec.glif</string>
    <key>uni17D217A0.sec</key>
    <string>uni17D_217A_0.sec.glif</string>
    <key>uni17B4</key>
    <string>uni17B_4.glif</string>
    <key>uni17B5</key>
    <string>uni17B_5.glif</string>
    <key>uni17DC</key>
    <string>uni17D_C_.glif</string>
    <key>uni17DD</key>
    <string>uni17D_D_.glif</string>
    <key>uni17F0</key>
    <string>uni17F_0.glif</string>
    <key>uni17F1</key>
    <string>uni17F_1.glif</string>
    <key>uni17F2</key>
    <string>uni17F_2.glif</string>
    <key>uni17F3</key>
    <string>uni17F_3.glif</string>
    <key>uni17F4</key>
    <string>uni17F_4.glif</string>
    <key>uni17F5</key>
    <string>uni17F_5.glif</string>
    <key>uni17F6</key>
    <string>uni17F_6.glif</string>
    <key>uni17F7</key>
    <string>uni17F_7.glif</string>
    <key>uni17F8</key>
    <string>uni17F_8.glif</string>
    <key>uni17F9</key>
    <string>uni17F_9.glif</string>
    <key>uni19E0</key>
    <string>uni19E_0.glif</string>
    <key>uni19E1</key>
    <string>uni19E_1.glif</string>
    <key>uni19E2</key>
    <string>uni19E_2.glif</string>
    <key>uni19E3</key>
    <string>uni19E_3.glif</string>
    <key>uni19E4</key>
    <string>uni19E_4.glif</string>
    <key>uni19E5</key>
    <string>uni19E_5.glif</string>
    <key>uni19E6</key>
    <string>uni19E_6.glif</string>
    <key>uni19E7</key>
    <string>uni19E_7.glif</string>
    <key>uni19E8</key>
    <string>uni19E_8.glif</string>
    <key>uni19E9</key>
    <string>uni19E_9.glif</string>
    <key>uni19EA</key>
    <string>uni19E_A_.glif</string>
    <key>uni19EB</key>
    <string>uni19E_B_.glif</string>
    <key>uni19EC</key>
    <string>uni19E_C_.glif</string>
    <key>uni19ED</key>
    <string>uni19E_D_.glif</string>
    <key>uni19EE</key>
    <string>uni19E_E_.glif</string>
    <key>uni19EF</key>
    <string>uni19E_F_.glif</string>
    <key>uni19F0</key>
    <string>uni19F_0.glif</string>
    <key>uni19F1</key>
    <string>uni19F_1.glif</string>
    <key>uni19F2</key>
    <string>uni19F_2.glif</string>
    <key>uni19F3</key>
    <string>uni19F_3.glif</string>
    <key>uni19F4</key>
    <string>uni19F_4.glif</string>
    <key>uni19F5</key>
    <string>uni19F_5.glif</string>
    <key>uni19F6</key>
    <string>uni19F_6.glif</string>
    <key>uni19F7</key>
    <string>uni19F_7.glif</string>
    <key>uni19F8</key>
    <string>uni19F_8.glif</string>
    <key>uni19F9</key>
    <string>uni19F_9.glif</string>
    <key>uni19FA</key>
    <string>uni19F_A_.glif</string>
    <key>uni19FB</key>
    <string>uni19F_B_.glif</string>
    <key>uni19FC</key>
    <string>uni19F_C_.glif</string>
    <key>uni19FD</key>
    <string>uni19F_D_.glif</string>
    <key>uni19FE</key>
    <string>uni19F_E_.glif</string>
    <key>uni19FF</key>
    <string>uni19F_F_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>Out-Of-Range-GID-383</key>
    <string>O_ut-O_f-R_ange-G_I_D_-383.glif</string>
    <key>Out-Of-Range-GID-384</key>
    <string>O_ut-O_f-R_ange-G_I_D_-384.glif</string>
    <key>Out-Of-Range-GID-385</key>
    <string>O_ut-O_f-R_ange-G_I_D_-385.glif</string>
    <key>Out-Of-Range-GID-386</key>
    <string>O_ut-O_f-R_ange-G_I_D_-386.glif</string>
    <key>Out-Of-Range-GID-378</key>
    <string>O_ut-O_f-R_ange-G_I_D_-378.glif</string>
    <key>Out-Of-Range-GID-379</key>
    <string>O_ut-O_f-R_ange-G_I_D_-379.glif</string>
    <key>Out-Of-Range-GID-380</key>
    <string>O_ut-O_f-R_ange-G_I_D_-380.glif</string>
    <key>Out-Of-Range-GID-381</key>
    <string>O_ut-O_f-R_ange-G_I_D_-381.glif</string>
    <key>Out-Of-Range-GID-382</key>
    <string>O_ut-O_f-R_ange-G_I_D_-382.glif</string>
    <key>Out-Of-Range-GID-390</key>
    <string>O_ut-O_f-R_ange-G_I_D_-390.glif</string>
    <key>Out-Of-Range-GID-391</key>
    <string>O_ut-O_f-R_ange-G_I_D_-391.glif</string>
    <key>Out-Of-Range-GID-387</key>
    <string>O_ut-O_f-R_ange-G_I_D_-387.glif</string>
    <key>Out-Of-Range-GID-388</key>
    <string>O_ut-O_f-R_ange-G_I_D_-388.glif</string>
    <key>Out-Of-Range-GID-389</key>
    <string>O_ut-O_f-R_ange-G_I_D_-389.glif</string>
  </dict>
</plist>
